<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMG.LY.TEST.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD8C6B0D2D6615D0003FBBE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8C6B1E2D6615D1003FBBE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD8C6B282D6615D1003FBBE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
